**/cmake-build-debug/**
**/cmake-build-release/**
**/.idea/**
**/.vscode/**
**/build/**
**/mot_imgs/**
**/mot_infer_res/**
**/infer_res/**
**/pro
**/*.so
**/*.pt
**/*.pth
**/*.tar
**/*.onnx
**/*.engine
**/*.trt
**/*.trtmodel
