**/cmake-build-debug/**
**/cmake-build-release/**
**/.idea/**
**/.vscode/**
**/build/**
**/infer_res/**
**/output.mp4
**/res_mot.mp4
**/res_yolop.mp4
**/pro
**/*.so
**/*.pt
**/*.pth
**/*.onnx
**/*.engine
**/*.trt
**/*.trtmodel
